@model HouseRent.Models.DetailOfFlat
@using HouseRent.Models
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Create Flat</h2>
<br />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="" style="width:40%">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label>Name</label>
            </div>
            <div class=" col-8">
                <input asp-for="FlatName" class="form-control" />
                <span asp-validation-for="FlatName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Floor</label>
            </div>
            <div class=" col-8">
                <select asp-for="FlatId" asp-items="ViewBag.floor" class="form-control"><option value="">Select a Floor</option></select>
                <span asp-validation-for="Flat.Floor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class=" col-4">
                <label>Room Number</label>
            </div>
            <div class="col-8">
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Bath Number</label>
            </div>
            <div class="col-8">
                <input asp-for="BathNumber" class="form-control" />
                <span asp-validation-for="BathNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Parking</label>
            </div>
            <div class="col-8">
                <input type="checkbox" asp-for="CarParking" class="form-control" />
                <span asp-validation-for="CarParking" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Description</label>
            </div>
            <div class=" col-8">
                <input type="text" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Photo</label>
            </div>
            <div class=" col-8">
                <input type="file" asp-for="Photo" name="image" class="form-control"/>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group offset-6" style="padding-left:25px">
            <a asp-action="Index" class="btn btn-dark">Back To List</a>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</form>

@section Scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}