@model HouseRent.Models.DetailOfFlat
@using HouseRent.Models
@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-info">Create Flat</h2>
<br />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row" style="">
        <div class="col-8">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label>Name</label>
                </div>
                <div class=" col-6">
                    <input asp-for="FlatName" class="form-control" />
                    <span asp-validation-for="FlatName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Floor</label>
                </div>
                <div class=" col-6">
                    <select asp-for="FlatId" asp-items="ViewBag.floor" class="form-control"><option value="">Select a Floor</option></select>
                    <span asp-validation-for="Flat.Floor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class=" col-3">
                    <label>Room Number</label>
                </div>
                <div class="col-6">
                    <input asp-for="RoomNumber" class="form-control" />
                    <span asp-validation-for="RoomNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Bath Number</label>
                </div>
                <div class="col-6">
                    <input asp-for="BathNumber" class="form-control" />
                    <span asp-validation-for="BathNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Price</label>
                </div>
                <div class="col-6">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Parking</label>
                </div>
                <div class="col-6">
                    <input type="checkbox" asp-for="CarParking" class="form-control" />
                    <span asp-validation-for="CarParking" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Description</label>
                </div>
                <div class=" col-6">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Photo</label>
                </div>
                <div class=" col-6">
                    <input type="file" asp-for="Photo" name="image" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group offset-5" style="padding-left:50px">
                <a asp-action="Index" class="btn btn-dark">Back To List</a>
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
        <div class="offset-1">
            <img src="@Model.Photo" style="height:250px; width:250px;" />
        </div>
    </div>
    

</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}