
@{
    ViewData["Title"] = "ViewAssignUserRole";
}

<br />
<div style="padding-left:100px; width:80%">
    <div class="row">
        <div class="col-6">
            <h3 class=" text-info">Assigned User's Role List</h3>
        </div>

    </div>
    <br />
    <div style="padding-left:230px;">
        <a asp-action="Create" class="btn btn-info"><i><i class="fas fa-plus"></i></i>&nbsp; New Assign</a>
    </div>
    <br />

    <div>
        <table class="table table-bordered " style="width:50%">
            <tr class="table-info">
                <th>User Name</th>
                <th>Role Name</th>
            </tr>
            @foreach (var item in ViewBag.UserRole)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.RoleName</td>


                </tr>
            }
        </table>
    </div>
</div>


@section Scripts{

    <script src="~/js/assign.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'

            if (save != '') {
                alertify.success(save);
            }
        })
    </script>

}
