@model IEnumerable<HouseRent.Models.PropertyType>
@{
   
    ViewData["Title"] = "Index";
}

<style>    body {
        background-color: #82a080;
    }
</style>
<br />

<h2 class=" text-white">Property Type Index</h2>
<div class="offset-4">
    <a asp-action="Create" class="btn btn-outline-light"><i><i class="fas fa-plus"></i></i>&nbsp; New Property Type</a>
</div>
<br />
<br />
<div style="width:50%">
    <table id="tblData" class="table table-striped table-bordered"  >
        <thead style="background-color:peru">
            <tr class="table-info">
                <th>PropertyType Name</th>
                <th></th>
            </tr>
        </thead>
    </table>
    
</div>

@section Scripts{
    <script src="~/js/propertyType.js"></script>
    
    <script type="text/javascript">
                $(function () {
                var save = '@TempData["save"]'
                var edit = '@TempData["edit"]'

                if (save != '') {
                    alertify.success(save);
                }
                if (edit != '') {
                     alertify.success(edit);
                }
        })
    </script>
}


