@model HouseRent.Models.ApplicationUser
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Edit ApplicationUser </h2>
<form id="user-form" asp-action="Edit" method="post" >
    <div class="p-4 rounded border" style="width:70%">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div style="padding-left:260px">
            <input type="submit" value="Update" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>
    </div>
</form>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">


    $(document).ready(function () {
        $("#user-form").validate({
            rules: {
                UserName: {
                    required: true,
                    email: true,
                },
                PasswordHash: {
                    required: true,
                }
            },
            messages: {
                UserName: "Enter Your Email",
                PasswordHash: "Enter Your Password"
            }

        });
    });
    </script>
}